<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet"
	href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
<script
	src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="http://localhost:8083/DubboShopingCart/js/shopingcart.js"></script>
<title>购物车</title>
</head>
<body>
	<div style="height: 400px; width: 900px; background-color: gray;">
		<form action="" method="post">
			<table id='shopingcart' class="table">
				<tr>
					<td>选择商品</td>
					<td>商品图片</td>
					<td>商品名称</td>
					<td>购买数量</td>
					<td>商品单价</td>
					<td>商品总价</td>
				</tr>
			</table>
		</form>
	</div>
</body>
</html>