<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/mvc
http://www.springframework.org/schema/mvc/spring-mvc.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context.xsd">
	<mvc:annotation-driven></mvc:annotation-driven>
	<context:component-scan
		base-package="com.wang.controller" /><!-- 注解包扫描包 -->
	<mvc:annotation-driven /><!-- 注解驱动 -->
	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/*.action" /><!--只拦截inter1.action请求，其他请求不触发拦截器 -->
			<bean class="com.wang.tools.MyInterceptor" /><!--注册你的拦截器类 -->
		</mvc:interceptor>
	</mvc:interceptors>
</beans>